.scale-rating {
  margin: 20px;
}

.rating-label {
  margin-bottom: 10px;
}

.rating-boxes {
  display: flex;
}

.rating-box {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.rating-box:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.rating-box.active {
  background-color: #007bff; /* Change color for selected box */
  color: #fff; /* Change text color for better readability */
}
